header {
    width: 45vw;
    margin: auto;
    position: relative;
}

img {
    width: 100%;
}

svg {
    stroke: red;
    rect {
        fill: none;
        stroke-width: .75%;
    }
    circle {
        stroke-width: 1.25%;
    }

    position: absolute;
    top: 0;
    left: 0;
}

.confidence {
    font-size: 2rem;
    font-weight: bold;
    color: red;
    position: absolute;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}